:root {
  --color-background: #fafafa;
  --color-contrast: #111;
  --color-third: rgb(204,79,62);
}

body {
  font-family: sans-serif;
  font-size: 20px;
  background-color: var(--color-background);
  color: var(--color-contrast);
  margin: 0;
}

em {
  color: var(--color-third);
}

button {
  background-color: var(--color-third);
  color: var(--color-background);
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  box-shadow: 2px 2px 5px rgba(70,70,70,.4);
  transition: all 250ms ease-in-out;
  margin-right: 0.5em;
}

button:focus {
  outline: none;
  box-shadow: 2px 2px 10px rgba(70,70,70,.85);
}

.hidden {
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
}

textarea {
  display: block;
  box-shadow: 0 0 0 rgba(70,70,70,.1);
  transition: all 250ms ease-in-out;
}

textarea:focus {
  outline:none;
  box-shadow: 1px 1px 5px rgba(70,70,70,.3);
}

textarea::selection {
  background-color: rgba(129,112,109,.15);
}

header {
  background-color: var(--color-third);
  color: var(--color-background);
  padding: 1em 1em 0.7em 1em;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}

main {
  padding: 0.4em
}
